body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #828282;
}

.headerText {
  align-items: center;
  display: flex;
  text-align: center;
  color: #0400e3;
  font-size: 6rem;
  font-style: oblique;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.navWrapper {
  margin-bottom: 2%;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em;
}


.indexWrapper {
  margin: auto;
}

/* Container Styling */
.formContainer {
  background-color: #dedede;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  border-radius: 20px;
  width: 55vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
}

/* Title */
.title {
  text-align: center;
  color: #0400ff;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

/* Form Layout */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Input + Label Styling */
.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: 300;
  margin-bottom: 0.1rem;
  color: #000000;
}

.formGroup input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #000000;
  font-size: 1rem;
}

/* Checkbox Styling */
.formGroupCheckbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formGroupCheckbox label {
  font-weight: 200;
}

/* Submit Button */
.submitButton {
  background-color: #0400ff;
  padding: 0.6rem 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  border-radius: 6px;
  font-weight: 750;
  transition: 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #437f0f;
  transform: scale(1.02);
}

.headerSection {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.headerSection h1 {
  margin: 0;
  color: #0400e3;
  letter-spacing: 0.25rem;
}

/* Checkbox Filter Styling */
.filterSection {
  display: flex;
  align-items: center;
  font-size: 1rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

}

.filterSection input {
  padding: .5rem 2rem;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #000000;
  font-size: 1rem;
}


.filterSectionColumn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #040404;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
}

.filterSection label {
  font-weight: 300;
}

/* Grid layout for cards */
.projectList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  background-color: #dedede;
  border-radius: 8px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.container p {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.containerColumn {
  flex-direction: column;
  align-items: center;
}

.cardImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}

.container h4 {
  color: #0400ff;
  margin-bottom: 0;
  margin-top: 0.25rem;
}